.mgwt-TextBox {
	color: black;
}

.mgwt-PasswordTextBox {
	
}

.mgwt-TextArea {
	
}

.mgwt-TextBox .mgwt-InputBox-box {
	color: black;	
}

.mgwt-PasswordTextBox .mgwt-InputBox-box {
	color: black;
}

.mgwt-TextArea .mgwt-InputBox-box {
	color: black;
}

.mgwt-RadioButton {
	
}

.mgwt-RadioButton>label {
	
}

.mgwt-InputBox-disabled {
	
}

.mgwt-ListBox {
	
}