.mgwt-List {
	color: black;	
}

.mgwt-List-round {
	
}

.mgwt-List > li {
	color: black;
}

.mgwt-List-round > .mgwt-List-first {
	
}

.mgwt-List-round > .mgwt-List-last {
	
}

.mgwt-List-selected {
	color: black;
}

.mgwt-List-group {
	
}

.mgwt-List-group.mgwt-List-selected {
	color: black;
}

.mgwt-List-Header {
	
}



.mgwt-FormList-Element{
	
	
}
	
.mgwt-FormList-Element-label{
	
}


.mgwt-FormList-Element-container{

}

.mgwt-List-canbeSelected{

}

