* {
	
}

body {
	color: black;
}

@if user.agent safari {
	body {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgb(46, 54, 60)))');
	}
}

@if user.agent gecko1_8 {
	body {
		background-image: literal('-moz-linear-gradient(top, #FFFFFF, rgb(46, 54, 60))');
	}
}
